/*-----------------------------------------------

    Theme:	WPblog Theme
    Author:	GoGetThemes.com
    Version:	1.0

    TABLE OF CONTENTS:

    1.0 Menu Type 5 Styles
    2.0 Menu Type 5 Mobile
    3.0 Menu Type 5 Responsive
        3.1 Menu Type 5 Mobile
        3.2 Menu Type 5 Tablets

-----------------------------------------------*/

/*-------------------------------
    1.0 Menu Type 5 Styles
--------------------------------*/

    .desktop-menu,
    .mobile-menu,
    .desktop-menu ul,
    .mobile-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .desktop-menu li{
        position: relative;
    }
    .nav-menu.desktop-menu ul li a {
        border: 0 solid;
    }
    .mobile-menu li {

    }
    .nav-menu.mobile-menu a {
        padding: 15px 25px;
        width: 100%;
    }
    .nav-menu a {
        padding: 25px 25px;
        display: inline-block;
        text-decoration: none;
    }
    .nav-menu .sub-menu a,
    .nav-menu .children a {
        width: 100%;
        padding: 15px 20px;
    }

.desktop-menu .menu-item a:before,
.desktop-menu .page_item a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    background: #000000;
    height: 2px;
    top: 0;
    -webkit-transition: all .3s cubic-bezier(0.37,0.31,0.2,0.85)s;
    -moz-transition: all .3s cubic-bezier(0.37,0.31,0.2,0.85);
    transition: all .3s cubic-bezier(0.37,0.31,0.2,0.85);
}
.desktop-menu .menu-item .menu-item a:before,
.desktop-menu .page_item .page_item a:before,
.desktop-menu .menu-item .menu-item .menu-item a:before,
.desktop-menu .page_item .page_item .page_item a:before {
    height: 0;
}

.desktop-menu .menu-item > a:hover:before ,
.desktop-menu .page_item > a:hover:before {
    right: 0;
}

/* Disable titles */
    /*.columns-without-titles .li-level-2 .title {*/
        /*display: none;*/
    /*}*/

/* Level 1 Drop Down Menu */

    .desktop-menu .menu-item,
    .desktop-menu .page_item{
        position: relative;
        display: inline-block;
        float: left;
        vertical-align: top;
    }
    .desktop-menu .menu-item:first-child,
    .desktop-menu .page_item:first-child,
    .mobile-menu > li:first-child {
        margin-left: 0;
    }

    .desktop-menu .menu-item > a,
    .mobile-menu > li > a  {}

    .desktop-menu .menu-item > a:hover,
    .mobile-menu > li > a.hover  {}

/* Level 2 */

    .desktop-menu .menu-item .menu-item,
    .desktop-menu .page_item .page_item {
        display: block;
        float: none;
        left: 0;
    }
    .desktop-menu .sub-menu,
    .desktop-menu .children {
        left: 0;
        min-width: 220px;
        opacity: 0;
        padding-top: 20px;
        padding-left: 10px;
        position: absolute;
        text-align: left;
        top: 100%;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        visibility: hidden;
        z-index: 99;
    }
.mobile-menu  li:hover > ul,
.mobile-menu li ul li:hover > ul {
    position: relative;
}
.mobile-menu .menu-item.menu-item-has-children a:before,
.mobile-menu .page_item.page_item_has_children a:before {
    content: "\e90e";
    right: 20px;
    position: absolute;
    font-family: "ggtctrl";
}
.mobile-menu .menu-item.menu-item-has-children .sub-menu a:before,
.mobile-menu .page_item.page_item_has_children .children a:before {
    content: "\e910";
    right: 20px;
    position: absolute;
    font-family: "ggtctrl";
    opacity: .3;
}
.mobile-menu .menu-item.menu-item-has-children .sub-menu .sub-menu a:before {
    content: "\e910";
    right: 20px;
    position: absolute;
    font-family: "ggtctrl";
}
.mobile-menu > li.hover ul::before {
    top: 7px;
}
.mobile-menu > li.hover > ul li:first-child::before {
    content: "";
    height: 20px;
    left: 30px;
    position: absolute;
    top: -3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 20px;
    z-index: -1;
}
.mobile-menu li,
.mobile-menu > li {
    display: inline-block;
    float: left;
    vertical-align: top;
}

    .desktop-menu .page_item:hover .children,
    .desktop-menu .menu-item:hover .sub-menu {
        opacity: 1;
        padding-top: 0;
        padding-left: 0;
        visibility: visible;
    }
    .desktop-menu .menu-item li.menu-item-has-children::after {
        content: "\e910";
        font-family: "ggtctrl";
        font-size: 12px;
        position: absolute;
        right: 15px;
        top: 11px;
        opacity: .8;
    }

    .desktop-menu .menu-item:hover ul::before{
        top: 7px;
    }
    .desktop-menu .ul-level-1 .li:first-child,
    .mobile-menu li ul li:first-child {
    }
    .desktop-menu .ul-level-1 li:last-child,
    .mobile-menu li ul li:last-child {
    }
    .desktop-menu .menu-item:hover .sub-menu li:first-child::before {
        content: "";
        height: 20px;
        left: 30px;
        position: absolute;
        top: -3px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 20px;
        z-index: -1;
    }
    .desktop-menu ul li a{
        opacity: 0;
        -webkit-transition: all 0.1s ease-in-out 0s;
        -moz-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
    }
    .desktop-menu li:hover li a {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }

    /* Level 3 */

    .desktop-menu .sub-menu .children,
    .desktop-menu .sub-menu .sub-menu {
        visibility: hidden;
        display: none;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
    .desktop-menu .children .menu-item:hover .children,
    .desktop-menu .sub-menu .menu-item:hover .sub-menu {
        display: block;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }

    .desktop-menu li .sub-menu li .sub-menu,
    .desktop-menu li .children li .children,
    .desktop-menu li ul li ul li{
        left: 100%;
        min-width: 220px;
        padding-left: 10px;
        opacity: 0;
        position: absolute;
        text-align: left;
        top: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        visibility: hidden;
        z-index: 99;
    }
    .desktop-menu .sub-menu .menu-item:hover .sub-menu,
    .desktop-menu .children .menu-item:hover .children,
    .desktop-menu li ul li:hover ul li {
        opacity: 1;
        padding-left: 0;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
        visibility: visible;
    }
    .desktop-menu ul li ul.sub-menu li a,
    .desktop-menu ul li ul.children li a {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        transform: translateX(-10px);
        opacity: 0;
        -webkit-transition: all 0s ease-in-out 0s;
        -moz-transition: all 0s ease-in-out 0s;
        transition: all 0s ease-in-out 0s;
    }
    .desktop-menu ul li:hover ul.sub-menu li a,
    .desktop-menu ul li:hover ul.children li a {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
    .desktop-menu .menu-item.current-menu-item:before {
        top: -1px;
        content: "";
        height: 1px;
        left: 25%;
        position: absolute;
        right: 25%;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        width: 50%;
        margin:0 auto;
        z-index: 0;
    }
    .desktop-menu .menu-item:hover::before {
        left: 25%;
        right: 25%;
        width: 50%;
    }

    /*.in-column .sub-menu ul.sub-menu {*/
        /*position: absolute;*/
        /*left: 50%;*/
        /*-webkit-transform: translateX(-50%);*/
        /*-moz-transform: translateX(-50%);*/
        /*transform: translateX(-50%);*/
    /*}*/
    /*.menu-item.in-column .li-level-2.li {*/
        /*display: table-cell;*/
        /*min-width: 250px;*/
        /*padding: 0;*/
        /*position: relative;*/
    /*}*/
    /*.in-column .sub-menu.ul.sub-menu {*/
        /*left: 0;*/
        /*opacity: 1;*/
        /*position: relative;*/
        /*transform: none;*/
        /*visibility: visible;*/
        /*padding: 0;*/
    /*}*/
    /*.desktop-menu .li-level-1.in-column .ul-level-1 .li-level-3.li a {*/
        /*opacity: 1;*/
    /*}*/
    /*.desktop-menu .li-level-1.in-column .ul-level-2 {*/
        /*transform: none;*/
        /*visibility: hidden;*/
    /*}*/
    /*.desktop-menu .li-level-1.in-column:hover .ul-level-2 {*/
        /*visibility: visible;*/
    /*}*/
    /*.desktop-menu .li-level-1.in-column .sub-menu .li-level-2.li a {*/
        /*transform: none;*/
        /*padding: 10px 30px;*/
    /*}*/
    /*.desktop-menu .li-level-1.in-column::after {*/
        /*content: "";*/
        /*height: 20px;*/
        /*left: 0;*/
        /*margin: auto;*/
        /*opacity: 0;*/
        /*position: absolute;*/
        /*right: 0;*/
        /*bottom: -95px;*/
        /*-webkit-transform: rotate(45deg);*/
        /*-moz-transform: rotate(45deg);*/
        /*transform: rotate(45deg);*/
        /*-webkit-transition: padding-top 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0.2s;*/
        /*-moz-transition: padding-top 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0.2s;*/
        /*transition: padding-top 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0.2s;*/
        /*width: 20px;*/
        /*padding-top: 20px;*/
    /*}*/
    /*.desktop-menu .li-level-1.in-column:hover::after {*/
        /*opacity: 1;*/
        /*top: 20px;*/
        /*padding-top: 10px;*/
        /*z-index: 1;*/
    /*}*/
    /*.desktop-menu .li-level-1.in-column:hover .ul-level-1 >div:before {*/
        /*display: none;*/
    /*}*/
    /*.menu-item.in-column .li-level-2.li:after {*/
        /*display: none;*/
    /*}*/
    /*.menu-item.in-column .li-level-2.li {*/
        /*border-radius: 0;*/
        /*border-right: 1px solid rgba(255, 255, 255, 0.1);*/
    /*}*/
    /*.menu-item.in-column .li-level-2.li:first-child {*/
        /*overflow: hidden;*/
    /*}*/
    /*.menu-item.in-column .li-level-2.li:last-child {*/
        /*overflow: hidden;*/
        /*border: 0 none;*/
    /*}*/
    /*.in-column span.title {*/
        /*color: #fff;*/
        /*display: block;*/
        /*font-size: 12px;*/
        /*font-weight: 600;*/
        /*letter-spacing: 1px;*/
        /*line-height: 1.3;*/
        /*margin: 20px 20px 10px;*/
        /*padding: 10px;*/
        /*text-transform: uppercase;*/
    /*}*/
    /*.desktop-menu .li-level-1.in-column .ul-level-1 .sub-menu.ul-level-2 div {*/
        /*background: transparent;*/
    /*}*/
    /*.desktop-menu .li-level-1.in-column .ul-level-1 .sub-menu.ul-level-2 div::before {*/
        /*content: "";*/
        /*display: none;*/
    /*}*/



/*-------------------------------
    2.0 Menu Type 5 Mobile
--------------------------------*/
    .mobile-logo .site-title {
        font-size: 25px;
        line-height: 1em;
        font-weight: bold;
    }
    .mobile-menu-wrap {
        display: none;
        padding: 0;
        text-align: center;
    }
    .mobile-buttons-wrap > div {
        display: inline-block;
        font-size: 19px;
    }
    .mobile-buttons-wrap > div > a {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        display: block;
        height: 50px;
        line-height: 90px;
        text-align: center;
        width: 50px;
    }
    .mobile-navigation {
        display: inline-block;
        float: left;
        height: 100px;
        vertical-align: middle;
        width: 10%;
        border-right: 1px solid rgba(0,0,0,.1);
    }
    .mobile-menu-wrap .mobile-logo {
        display: inline-block;
        height: 100px;
        padding: 30px 0;
        text-align: left;
        vertical-align: middle;
        width: 60%;
    }
    .mobile-menu-wrap .mobile-buttons-wrap {
        display: inline-block;
        height: 100px;
        padding: 10px 0;
        text-align: right;
        vertical-align: middle;
        width: 20%;
    }
    .mobile-collapse-container.header-menu {
        padding: 0;
        width: 100%;
    }
    .mobile-collapse-container.header-search-collapse,
    .mobile-collapse-container.header-cart-collapse,
    .mobile-collapse-container.header-login-collapse {
        background: #f7f7f7 none repeat scroll 0 0;
        padding: 20px 30px;
        box-shadow: 0 30px 24px -29px rgba(0,0,0,.2) inset;
        text-align: center;
    }
    .mobile-collapse-container.header-login-collapse .login-username > label,
    .mobile-collapse-container.header-login-collapse .login-password > label {
        text-align: center;
    }
    .mobile-collapse-container.header-login-collapse .login-submit,
    .mobile-collapse-container.header-login-collapse .login-remember {
        margin-left: 0;
    }
    .mobile-collapse-container.header-search-collapse .searchform input {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        margin: 0 0 10px;
        padding: 10px 30px;
        width: 100%;
    }
    .mobile-collapse-container .modal-wrap-head {
        font-size: 16px;
        height: auto;
        padding: 10px 0;
        text-transform: uppercase;
    }
    .mobile-collapse-container .mini_cart_item {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 20px;
        list-style: outside none none;
        margin: 0 0 20px !important;
        padding: 20px 50px !important;
        position: relative;
        width: 100%;
    }
    .mobile-collapse-container .mini_cart_item .remove {
        left: -15px;
    }
    .mobile-collapse-container .mini_cart_item img.wp-post-image {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    .mobile-collapse-container .mini_cart_item .quantity {
        text-align: center;
    }
    .nav-menu.mobile-menu {
        width: 100%;
    }
    .mobile-logo a {
        height: auto !important;
        padding: 0;
        width: 50% !important;
    }
    .mobile-menu-btn {
        font-size: 25px;
        border-radius: 0;
        display: block;
        height: 50px;
        line-height: 105px;
    }
    .mobile-menu .nav-menu > li {
        overflow: hidden;
    }
    .mobile-menu .nav-menu > li.hover {
        overflow: auto;
    }

    .mobile-menu li > ul {
        display: none;
    }
    .mobile-menu .menu-item ul.sub-menu {
    }
    .mobile-menu li.hover > ul {
        display: block;
    }


/*-------------------------------
    3.0 Menu Type 5 Responsive
--------------------------------*/

/*-------------------------------
    3.1 Menu Type 5 Responsive / Mobile
--------------------------------*/

@media only screen and (max-width: 480px) {
    .mobile-menu-wrap .mobile-buttons-wrap {
        display: inline-block;
        float: right;
        height: 50px;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        width: 40%;
    }
    .mobile-navigation {
        display: inline-block;
        float: left;
        height: 50px;
        vertical-align: middle;
        width: 20%;
    }
    .mobile-menu-wrap .mobile-logo {
        display: inline-block;
        height: 50px;
        padding: 10px;
        vertical-align: middle;
        width: 40%;
    }
    .mobile-menu-btn {
        line-height: 60px;
    }
    .mobile-buttons-wrap > div > a {
        line-height: 55px;
    }
    .mobile-menu > li:first-child {
        margin-left: 0;
        border-top: 0 solid;
    }
    .mobile-menu > li {
        border-bottom: 1px solid;
        display: block;
        float: none;
        padding: 10px 0;
    }
    .mobile-menu .menu-item ul.sub-menu {
        padding-top: 0;
        float: left;
    }
    .mobile-menu .menu-item ul.sub-menu li a {
        display: block;
    }
    .mobile-menu > li.hover > ul {
        width: 100%;
        display: block;
        position: relative;
    }
    .mobile-menu > li > ul > li > ul {
        left: 0;
        position: relative;
        width: 100%;
    }
    .mobile-menu > li.hover > ul li:first-child::before {
        display: none;
    }
    .mobile-menu li ul li:first-child,
    .mobile-menu li ul li:last-child {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .mobile-menu li {

    }
    .mobile-menu > li > ul > li > ul {
        visibility: visible;
        opacity: 1;
        padding: 0 0;
        margin: 0 ;
        width: 100%;
    }
    .mobile-menu > li > ul > li > ul {
        padding-left: 0;
        transform: none;
     }
    .mobile-menu > li > ul > li.hover > ul{
        padding: 0;
    }
}

/*-------------------------------
    3.2 Menu Type 5 Responsive / Tablets
--------------------------------*/

@media only screen and (max-width: 980px) {

    .mobile-menu > li:first-child {
        margin-left: 0;
        border-top: 0 solid;
    }
    .mobile-menu > li {
        border-bottom: 1px solid;
        display: block;
        float: none;
        padding: 10px 0;
    }
    .mobile-menu .menu-item ul.sub-menu {
        padding-top: 0;
        float: left;
    }
    .mobile-menu .menu-item ul.sub-menu li a {
        display: block;
    }
    .mobile-menu > li.hover > ul {
        width: 100%;
        display: block;
        position: relative;
    }
    .mobile-menu > li > ul > li > ul {
        left: 0;
        position: relative;
        width: 100%;
    }
    .mobile-menu > li.hover > ul li:first-child::before {
        display: none;
    }
    .mobile-menu li ul li:first-child,
    .mobile-menu li ul li:last-child {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    .mobile-menu li {
        width: 100%;
        border-bottom: 0 solid;
        padding: 0;
    }
    .mobile-menu > li > ul > li > ul {
        visibility: visible;
        opacity: 1;
        padding: 0 0;
        margin: 0 ;
        width: 100%;
    }
    .mobile-menu > li > ul > li > ul {
        padding-left: 0px;
        transform: none;
    }
    .mobile-menu > li > ul > li.hover > ul{
        padding: 0;
    }
}




@media only screen and (min-width: 981px) {
    #collapseExample {
        display: none;
    }

}