/*-----------------------------------------------

    Theme:	WPblog Theme
    Author:	GoGetThemes.com
    Version:	1.0

    TABLE OF CONTENTS:

    1.0 Global Responsive
    2.0 Mobile menu Responsive

-----------------------------------------------*/

/*-------------------------------
    1.0 Global Responsive
--------------------------------*/




/*-------------------------------
    1.0 Mobile menu Responsive
--------------------------------*/

@media only screen and (max-width: 980px) {
    .header-is-sticky .header-action {
        position: relative;
    }

    .wrapper.main {
        background-color: #f5f5f5;
        padding: 0 !important;
    }
}