/*-----------------------------------------------

    Theme:	skeleton
    Author:	GoGetThemes.com
    Version:	1.0

    TABLE OF CONTENTS:

    1.0 Global WooCommerce Styles

-----------------------------------------------*/

/*-------------------------------
    1.0 Global WooCommerce Styles
--------------------------------*/
.woocommerce .star-rating::before,
body.woocommerce .star-rating::before{
    content: "\53\53\53\53\53" !important;
    color: rgba(0,0,0,.1);
}
.woocommerce ul.products li.product a img {
    -webkit-transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85)s;
    -moz-transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85);
    transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}
.woocommerce ul.products li.product:hover a img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
.woocommerce .woocommerce-ordering select {
    padding: 5px 10px;
    margin: 15px 40px 0px 0px;
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
    margin: 20px 0 5px;
}
.woocommerce div.product,
.woocommerce .products ul,
.woocommerce ul.products {
    margin-bottom: 0;
    position: relative;
    padding: 0 50px;
}
.woocommerce .woocommerce-breadcrumb a {
    display: block;
    position: relative;
    padding: 2px 15px;
    margin: 20px 0px 10px 0px;
    border-radius: 50px;
}
.woocommerce .woocommerce-breadcrumb a::after {
    content: "";
    border-left: 1px dashed;
    width: 1px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 35px;
    opacity: 0.4;
}
.breadcrumb-current-item {
    position: relative;
    display: block;
    padding: 2px 15px;
    font-weight: 500;
    margin: 40px 0 10px 0;
}
.breadcrumb-current-item::before {
    content: "\e910";
    font-family: ggtctrl;
    position: absolute;
    left: -15px;
    font-size: 10px;
    background: #fff;
    color: #000000;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 20px;
    top: 7px;
}
.woocommerce ul.products li.product h3 {
    margin: 0;
    left: 20px;
    bottom: 10px;
    padding: 30px 10px 20px 10px;
}
.woocommerce ul.products li.product .star-rating {
    font-size: 1em;
    position: absolute;
    top: 0px;
    right: 20px;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.woocommerce-page ul.products li.product:hover .star-rating {
    opacity: 1;
    top: 20px;
}
.woocommerce-page ul.products li.product:hover .price {
    top: 30px;
}
body.woocommerce ul.products li.product .price,
body.woocommerce div.product p.price,
body.woocommerce div.product span.price {
    position: absolute;
    top: 0px;
    right: 30px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
body.single-product.woocommerce div.product .price {
    position: absolute;
    right: 80px;
    top: 70px;
    text-align: right;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.woocommerce div.product .product_title {
    font-size: 30px;
    letter-spacing: -1px;
    margin: 0 !important;
}
.woocommerce-page ul.products li.product {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.woocommerce-page ul.products li.product:hover {
    -webkit-box-shadow: 0 10px 35px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 35px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 35px -2px rgba(0, 0, 0, 0.2);
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    width: 50%;
    margin: 50px 0px
}
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
    margin: 1px;
    width: 33%;
    overflow: hidden;
}
.woocommerce div.product div.images div.thumbnails img,
.woocommerce div.product div.images div.thumbnails a:hover img,
.woocommerce div.product div.images a:hover .attachment-shop_single.size-shop_single.wp-post-image,
.woocommerce div.product div.images .attachment-shop_single.size-shop_single.wp-post-image{
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.woocommerce div.product div.images div.thumbnails a:hover img,
.woocommerce div.product div.images a:hover .attachment-shop_single.size-shop_single.wp-post-image{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
.woocommerce div.product div.images a{
     overflow: hidden;
 }
.woo-single-image-wrap {
    display: block;
    overflow: hidden;
}
.woocommerce div.product div.images div.thumbnails {
    padding: 1px 0 0 0px;
}
.single-product .summary > span {
    display: block;
    width: 70%;
    margin: 0px auto 0 auto;
}
.woocommerce ul.products li.product .button {
    top: 0%;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.woocommerce a.added_to_cart {
    white-space: nowrap;
    display: inline-block;
    background: #fff;
    padding: 10px 0px;
    float: none;
    position: relative;
    top: -25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
    width: 163px;
    margin: auto;
}
.product_meta span.posted_in a {
    border: 0px solid;
    padding: 5px 15px;
    background: #FFFFFF;
    color: #999;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0 10px;
}
.woocommerce-page div.product div.thumbnails a {
    position: relative;
}
.woocommerce-page div.product div.thumbnails a:before{
    opacity: 0;
    content: "";
    width: 80%;
    height: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 1;
}
.woocommerce-page div.product div.thumbnails a:hover:before {
    opacity: 1;
    height: 3px;
    width: 100%;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    border: 1px solid #D0D0D0;
    height: 50px;
    font-size: 18px;
    color: #A9A9A9;
    margin: 0 10px 0 0px;
}
.addcart-wrap {
    position: absolute;
    right: 0;
    bottom: 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    left: 0;
}
.woocommerce-page ul.products li.product:hover .addcart-wrap .button {
    top: -30px;
    opacity: 1;
    right: 0;
}
.woocommerce .woocommerce-wrap-color {
    padding: 0;
}
.woocommerce ul.products li.product a img {
    box-shadow: none;
    display: block;
    height: auto;
    margin: 0 0;
    width: 100%;
}
.woocommerce div.product div.images img {
    box-shadow: none;
    display: block;
    height: auto;
    width: 100%;
}
.woocommerce .woocommerce-result-count {
    font-size: 12px;
    letter-spacing: 0;
    margin: 30px 0 0 60px;
    padding: 0px 15px;
}
.woocommerce .woocommerce-breadcrumb {
    display: inline-block;
    float: left;
    width: 100%;
    margin: 0;
}
.woocommerce .woocommerce-ordering {
    display: inline-block;
    float: right;
}
.woocommerce h1.page-title {
    margin: 5px 0 0;
    padding: 0;
}
.woocommerce nav.woocommerce-pagination {
    text-align: center;
    border: 0 solid;
    padding: 0;
}
.woocommerce nav.woocommerce-pagination ul {
    border-width: 0;
}
.woocommerce nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 30px;
    border: 0px solid #000000;
    border-right: 0;
    margin: 0px;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    position: relative;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    height: 40px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
    width: 40px;
    color: #221c24;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: inherit;
    color: inherit;
    z-index: 1;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    padding: 0;
}
.woocommerce nav.woocommerce-pagination ul li a.page-numbers::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -13px;
    height: 3px;
    -webkit-transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85)s;
    -moz-transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85);
    transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85);
    z-index: -1;
}
.woocommerce nav.woocommerce-pagination ul li a.page-numbers:hover::before {
    bottom: 0;
    opacity: 1;
    height: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.woocommerce nav.woocommerce-pagination ul li {
    border: 0px solid;
}
.woocommerce .woocommerce-pagination .page-numbers.current {
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button-primary {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 12px;
}
.woocommerce ul.products li.product .onsale {
    left: 10px;
    top: 15px;
}
.woocommerce span.onsale {
    height: 70px;
    letter-spacing: 1px;
    line-height: 70px;
    text-transform: uppercase;
    width: 70px;
    padding: 0;
    z-index: 100;
}
.woocommerce a.added_to_cart {
    display: block;
}
.woocommerce ul.products li.product .price .amount {
    font-size: 18px;
    opacity: .5;
}
.woocommerce ul.products li.product .price {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}
body.woocommerce-page .woocommerce-breadcrumb {
    padding: 20px 30px;
    position: absolute;
    z-index: 1;
    left: -200px;
    top: 0;
    bottom: 0;
    width: 200px;
    -webkit-transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85)s;
    -moz-transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85);
    transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}
.breadcrumb-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    bottom: 0;
    z-index: 101;
    -webkit-transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85)s;
    -moz-transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85);
    transition: all .5s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}
.breadcrumb-btn::after {
    content: "\e923" !important;
    position: absolute !important;
    right: 0px;
    top: 30px;
    font-size: 11px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    font-family: ggtctrl;
}
.breadcrumb-btn:hover {
    left: 0px;
    width: 200px;
}
.breadcrumb-btn:hover .woocommerce-breadcrumb {
    left: 0;
}
.woocommerce .product .images {
    position: relative;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: 0px solid #221с24;
    bottom: -1px;
    content: " ";
    height: 1px;
    position: absolute;
    width: 1px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 10px 0 0px 1em;
    margin: 0 0;
    overflow: hidden;
    position: relative;
}
.woocommerce div.product div.images, .woocommerce div.product div.summary{
    margin: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #eee;
    left: -6px;
}
body.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: #f7f7f7;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: rgba(0,0,0,0);
    border: 0px solid #eee;
    display: inline-block;
    margin: 0 5px;
    padding: 0 1em;
    position: relative;
    z-index: 0;
    border: 0px solid;
    text-transform: uppercase;
    font-size: 14px !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #515151;
    display: inline-block;
    font-weight: 700;
    padding: 10px 20px;
    text-decoration: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 0px solid #eee;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
body.woocommerce div.product .woocommerce-tabs ul.tabs li {

}
body.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    -webkit-box-shadow: 0px 20px 20px -20px rgba(0,0,0,0) inset;
    -moz-box-shadow: 0px 20px 20px -20px rgba(0,0,0,0) inset;
    box-shadow: 0px 20px 20px -20px rgba(0,0,0,0) inset;
    border: 0 solid;
}
.woocommerce div.product .woocommerce-tabs .panel {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: 0 0 0 0 transparent;
    margin: 10px 0;
}
.woocommerce .woocommerce-tabs h2, .woocommerce .related.products h2 {
    font-size: 25px;
}
.woocommerce #tab-description,
.woocommerce #reviews {
    margin: 0 0px;
    background: #fff;
    padding: 40px 50px;
}
.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 0;
}
.woocommerce #reviews #comments h2,
.woocommerce .related.products h2 {
    padding: 0 10px;
}
.woocommerce div.product p.price del, .woocommerce div.product span.price del {
    opacity: 0.5;
    display: block;
    font-size: 25px;
    margin: 10px 0px;
}
.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 2em;
    margin-top: 2em;
}
.woocommerce .product_meta .posted_in {
    display: block;
    font-weight: 700;
    margin-top: 20px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    margin: 0 0 0 50px;
    padding: 20px 30px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 15px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    border: 0px solid #eee;
    box-shadow: none;
    float: left;
    height: auto;
    left: 0px;
    margin: 0 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.woocommerce #reviews > div {
}
.comment-form-rating, .comment-form-comment {
    display: block;
    padding: 10px 0px;
}
.woocommerce .stars {
    font-size: 20px;
}
.woocommerce .related.products {
    padding: 10px 0px;
}

.woocommerce #reviews #comments ol.commentlist li {
    border: 0 none;
    margin: 0 0 20px;
    padding: 10px;
    position: relative;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    background: #fff none repeat scroll 0 0;
    border: 0 solid;
    margin: 0 0 0 30px;
    padding: 2em 5em 2em;
}
.woocommerce #reviews #comments ol.commentlist {
    padding: 20px;
}
.woocommerce #review_form {
    background: rgba(0,0,0,.1);
    padding: 20px 30px;
}
#commentform.comment-form {
    padding: 20px 40px;
    margin: 2% 6% 5% 6%;
}
h3#reply-title {
    font-size: 25px;
    margin: 2% 6% 0% 6% !important;
}
.woocommerce table.shop_table td {
    border-top: 0 solid rgba(0, 0, 0, 0.1);
    padding: 16px 20px;
    vertical-align: middle;
    position: relative;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled {
    padding: 15px 20px;
}
.cross-sells > h2, .cart_totals.calculated_shipping > h2 {
    font-size: 20px;
    padding-bottom: 20px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background-image: none;
    border: 0 none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    left: auto;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 15px 25px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
}
.woocommerce table th, .woocommerce table td {
    border: 0 solid;
}
.woocommerce table tr.cart_item {
    background: #f7f7f7;
    box-shadow: 0 -1px 0px 0px rgba(0,0,0,.1);
}
.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: right;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    border: 1px solid #d3ced2;
    box-sizing: border-box;
    float: left;
    line-height: 1;
    margin: 0 14px 0 0;
    outline: 0 none;
    padding: 14px 14px;
    width: auto;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    border: 0px solid;
    width: auto;
    margin: 0px;
    padding: 0px;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {
    display: inline-block;
    font-weight: 700;
    float: left;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    border: 0 solid;
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    width: 200px;
}
.woocommerce a.remove {
    background: #cf1010 none repeat scroll 0 0;
    color: #fff !important;
    font-size: 19px;
    height: 50px;
    left: -30px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.woocommerce div.product form.cart .variations td.label {
    color: inherit;
    font-size: 15px;
    padding-right: 0;
    display: block;
}
.woocommerce .breadcrumb-wrap {
    background: rgba(0,0,0,0);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    display: inline-block;
    margin: 10px;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 22.05%;
    float: none;
    overflow: hidden;
}
.woocommerce .products ul, .woocommerce ul.products {
    clear: both;
    list-style: outside none none;
    margin: auto;
    text-align: center;
}
.woocommerce .products .star-rating {
    display: block;
    float: none;
    margin: 0px auto;
}


div.pp_woocommerce .pp_gallery ul li a {
    border: 0px solid rgba(255,255,255,.1);
    background: #fff;
    box-shadow: 0 4px 10px -2px rgba(0,0,0,.11);
    border-radius: 2px;
    display: block;
}
.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;
}
.pp_gallery div {
    float: left;
    overflow: visible;
    position: relative;
}
.pp_gallery ul {
    height: auto;
    position: absolute;
    top: -50px;
}
.pp_gallery ul a {
    border: 1px solid rgba(0,0,0,.5);
    display: block;
    float: left;
    height: auto;
    overflow: hidden;
}
.pp_gallery li {
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0);
}
.pp_gallery li.selected {
    border: 1px solid rgba(255,255,255,1);
    -webkit-box-shadow: 0 0 15px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 15px 0px rgba(0,0,0,.1);
    box-shadow: 0 0 15px 0px rgba(0,0,0,.1);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}
.woocommerce-message {
    /* padding-top: 75px !important; */
    /* width: 100%; */
    position: relative;
    margin: 30px 80px 30px 90px !important;
    /* border: 2px solid #000; */
    background: #fff;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 95%;
}
.woocommerce .cross-sells ul.products li.product h3 {
    margin: 0 !important;
    padding: 0 !important;
    bottom: 20px;
    left: 20px;
}
.woocommerce .cross-sells ul.products li.product .price {
    right: 0px;
    position: absolute;
    opacity: 1;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    right: 20px;
}
.woocommerce-page .cross-sells ul.products li.product:hover .price {
    top: 30px;
}
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 70px;
    box-shadow: none;
}
.woocommerce table.shop_table {
    border: 0 solid;
    background: #fff;
    border-radius: 0;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    font-size: inherit;
}

@media only screen and (max-width: 768px) {
    .woocommerce-page, .woocommerce-page .wrapper {
        padding: 0 !important;
    }
    .woocommerce div.product,
    .woocommerce .products ul,
    .woocommerce ul.products  {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 480px) {
    .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
        width: 100%;
    }
    .woocommerce #reviews #comments ol.commentlist {
        padding: 10px;
    }
    .woocommerce #reviews #comments ol.commentlist li .comment-text {
        margin: 0;
        padding: 2em 2em 2em;
    }
    .woocommerce #reviews #comments ol.commentlist li img.avatar {
        left: -5px;
        top: -10px;
        width: 50px;
    }
    .woocommerce #reviews #comments h2,
    .woocommerce .related.products h2,
    .woocommerce .woocommerce-tabs h2,
    .woocommerce div.product .product_title{
        padding: 0;
        font-size: 20px !important;
    }
    .woocommerce .related.products {
        padding: 10px 20px;
    }
    .woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
        margin: 0px;
    }
    .woocommerce #reviews div#comments {
        padding: 0 20px !important;
    }
    .woocommerce #reviews > div {
        padding: 0 !important;
    }
    .woocommerce #reviews #review_form {
        padding: 20px 0px;
    }
    .woocommerce ul.products li.product.product-type-simple {
        margin: 2px;
    }
    .woocommerce .woocommerce-result-count {
        text-align: center;
    }
    .woocommerce .woocommerce-ordering {
        width: 100%;
        text-align: center;

    }
    .woocommerce .woocommerce-ordering select {
        padding: 5px 10px;
        margin: 10px auto;
    }
    body.woocommerce .woocommerce-message {
        padding-top: 90px !important;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text {
        margin: 0px 0px 10px 20px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    .woocommerce .cross-sells ul.products li.product:nth-child(2n), .woocommerce-page .cross-sells ul.products li.product:nth-child(2n), .woocommerce-page[class*="columns-"] .cross-sells ul.products li.product:nth-child(2n), .woocommerce[class*="columns-"] .cross-sells ul.products li.product:nth-child(2n) {
        float: left;
    }
    .woocommerce div.product,
    .woocommerce .products ul,
    .woocommerce ul.products  {
        padding: 0 10px;
    }
    .woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
        margin: 0;
    }
}
