@font-face {
  font-family: 'likes';
  src:  url('../fonts/likes.eot?whhdm4');
  src:  url('../fonts/likes.eot?whhdm4#iefix') format('embedded-opentype'),
    url('../fonts/likes.ttf?whhdm4') format('truetype'),
    url('../fonts/likes.woff?whhdm4') format('woff'),
    url('../fonts/likes.svg?whhdm4#likes') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'likes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eyeggt-:before {
  content: "\e9ce";
}
.icon-heartggt-:before {
  content: "\e9da";
}

