/*
Theme Name: WPblog theme
Theme URI: http://themeforest.net/user/serzh
Author: GoGetThemes.com
Author URI: http://gogetthemes.com
Description: Premium WordPress Blog Theme
Version: 1.1
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wpblog-theme
*/


/*-----------------------------------------------

    TABLE OF CONTENTS:

    1.0 Global Styles
    2.0 Widgets Post Format

-----------------------------------------------*/

/*-------------------------------
    1.0 Global Styles
--------------------------------*/



h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
h1 {
    margin: inherit !important;
}
html {
	overflow-x: hidden;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
    text-decoration: none;
}
a,
a:focus,
a:hover {
	outline: none !important;
    text-decoration: none !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}

audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}

.modal-backdrop {
    z-index: 998 !important;
}

/* =Repeatable patterns
-------------------------------------------------------------- */

/* Small headers */


/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {

}

/* Form fields, general styles first */
button,
input,
select,
textarea {
	font-family: inherit;
}
button,
input {
	line-height: normal;
}
button {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
textarea {
	font-size: 100%;
	overflow: auto;
	vertical-align: top;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Buttons */
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
.bypostauthor cite span {

}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}


.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #757575;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border-color: transparent;
}
.bypostauthor cite span {
	color: #fff;
	background-color: #21759b;
	background-image: none;
	border: 1px solid #1f6f93;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
    max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
    max-width: 100%;
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
    display: block;
    margin: 0 auto;
    text-align: center;
}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 1.37143rem;
	line-height: 2;
	color: #757575;
    text-align: center;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
    margin-right: 20px;
	padding: 0;
}
.rsswidget img {
    float: right;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}




/*-------------------------------
    2.0 Widgets Post Format
--------------------------------*/



/* Aside post format */

    article.format-aside h1 {
    }
    article.format-aside h1 a {
        text-decoration: none;
    }
    article.format-aside h1 a:hover {
    }
    article.format-aside .aside h2 {
        padding: 20px 40px;
    }
    article.format-aside p {
    }
    article.format-aside blockquote:last-child,
    article.format-aside p:last-child {
        margin-bottom: 0;
    }

/* Image posts */

    article.format-image footer h1 {

    }

    article.format-image footer a h2 {
        font-weight: normal;
        margin-bottom: 30px;
    }

/* Link posts */

    article.format-link header {
        padding: 0 10px;
        float: right;
    }
    article.format-link .entry-content {
        margin: auto;
        max-width: 80%;
        padding: 60px 40px;
        text-align: center;
    }
    article .emb-link {
        font-size: 0;
        padding: 5px 20px;
    }
    article .emb-link i {
        color: #d9d9d9;
        cursor: default;
        font-size: 30px;
        line-height: 2em;
    }
    article.format-link .entry-content a {
        text-decoration: none;
    }

/* Quote posts */

    article.format-quote .entry-content p {
        margin: 0;
    }
    article.format-quote .entry-content blockquote {
        display: block;
    }

/* Status posts */
    article.format-status {
    }
    .format-status .entry-header {
    }
    .format-status .entry-header header {
        display: inline-block;
    }
    .format-status .entry-header h1 {
        margin: 0;
    }
    .format-status .entry-header h2 {
        margin: 0;
        text-align: left;
    }
    .format-status .entry-header img {
        float: left;
        border-radius: 100px;
    }









