/*
Theme Name: child theme
Theme Uri:  http://ashokg.in
Author:     wpashokg
Author Uri: http://ashokg.in
Template:   wpblog-theme
Version:    1.0
License:    GNU General Public License v2 or later
Version:    1.0
*/

header-type-5-top-header top-header,.mobile-collapse{/*topbar*/
	display: none !important;
}
.subscribe-btn{
	display: none !important;
}
.header-type-5.top-header{
	margin: 0 !important;
}
.post-wrap .entry-title::before, .ggt-post-loop-wrap .entry-title::before, .ggt-team-members.ggt-style2 .ggt-social-list-item > a::before, .ggt-team-members.ggt-style2 .ggt-social-list-item > a:after, aside.widget.blog-sidebar h5::before, .ggt-portfolio-wrap .ggt-portfolio .ggt-portfolio-item .ggt-entry-meta span a::before{
	background: #2795d5 !important;
}
.site-info-menu-wrap{
	padding: 0 !important;
}
.site-info {
    padding: 3px 0 !important;
}
.site-info-copyright{
	width: 100%;
	text-align: center;
	font-size: 14px !important;
	padding-top: 12px !important;
}
.site-info-menu ul{
	list-style: none;
	display: inline-block;
	padding-top: 12px;
}
.site-info-menu ul a{
	color: #fff;
	text-transform: uppercase;
	transition: .4s;
}
.site-info-menu ul a:hover{
	color: #2795d5;
}
.head_baner{
	background-image: url(img/head_bg.png);
	height: 480px;
	position: relative;
}
.head_baner img.comment{
	position: absolute;
    bottom: -36px;
	z-index: 10;
}
.head_name{
	font-size: 38px;
	font-weight: 400;
	padding: 60px 20px 0 20px;;
}
.head_name span{
	font-weight: 900;
}
.head_name h1 {
	color: #299bdb;
	background: #fff;
	display: table-cell;
	padding: 20px;
}
.head_name h3{
	color: #fff;
	background: #57565c;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 15px;
	font-weight: 900;
	font-size: 17px;
	margin-top: -6px;
}
.head_social{
	padding: 20px 20px 0 0;
	display: inline;
}
.head_social ul{
	margin-top: 20px !important;
}
.head_social .social-icons .socicon{
	color: #a6deff;
}
.head_social .social-icons{
	text-align: right;
}
.head_social .social-icons .socicon:hover {
    background-color: transparent;
	color: #299bdb;
}
.baner_menu{
    color: #fff;
    font-weight: bold;
    font-size: 21px;
	margin-top: 50px;
}
.baner_menu li:first-child{
	padding-left: 0 !important;
}
.baner_menu li{
	display: inline-block;
	padding-left: 10px;
	padding-bottom: 19px;
}
.baner_menu li a{
	background: rgba(255, 255, 255, .3);
	padding: 5px 20px;
	color: #fff;
	transition: .4s;
}
.baner_menu li a:hover{
	color: #299bdb;
	background: rgba(255, 255, 255, 1);
}
ul.baner_menu {
    padding-left: 35px;
}
.bartyla{
	position: absolute;
	right: 19%;
	bottom: 0;
	z-index: 1;
	
}
.author-box{
	display: none;
}
.vc_btn3.vc_btn3-color-black, .vc_btn3.vc_btn3-color-black.vc_btn3-style-flat{
	background-color: #000 !important;
}
.pagination__wrapper li{
	list-style: none;
	display: inline-block;
	padding: 0 5px;
}
.prev,.next{
    border-radius: 50%;
	padding: 10px 14px 10px 14px;
    font-weight: bold;
    -webkit-box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.08);
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.08);
	transition: .4s;
}
.prev{
	margin-right: 7px;
}
.next{
	margin-left: 7px;
}
.prev:hover,.next:hover{
	background-color: #299bdb;
	color: #fff;
}
li.active a{
	color: #299bdb;
}
.pagination--custom{
	width: 100%;
	text-align: center;
	font-size: 18px;
}
.fb-post{
	margin-bottom: 25px;
}
.tw_img{
	float: left;
	padding-right: 10px;
}
.twitter-tweet{
	margin-top: 0 !important;
}
.head_name a{
	display: table;
}
.wpcf7 label{
	width: 100%;
}
input.wpcf7-form-control, textarea.wpcf7-form-control{
	width: 100%;
}
.comment-author .avatar-wrap {
    border-color: #299bdb !important;
}
@media screen and (max-width: 1200px) {
	.bartyla{
		right: 0;
	}
	.comment{
		left: 0;
		width: 100%;
		bottom: 0 !important;
	}
}
@media screen and (max-width: 998px) {
	.bartyla{
		display: none;
	}
}
@media screen and (max-width: 700px) {
	.baner_menu{
		margin-top: 10px !important;
	}
	.tw_img{
		float: none;
	}
	.fb_img{
		display: block !important;
	}
}
@media screen and (max-width: 400px) {
	.bartyla{
		display: none;
	}
	.head_name h1 {
		padding: 9px 24px;
		line-height: 37px;
		font-size: 31px;
	}
	.baner_menu{
		line-height: 38px;
	}
}